
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #e85555;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}
.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #ba2121;
}
div.breadcrumbs {
    background: #e85555;
    padding: 10px 40px;
    border: none;
    color: #e85555;
    text-align: left;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #e85555;
}
#branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

.submit-row a.deletelink {
    display: block;
    background: #e85555;
    border-radius: 4px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    color: #e85555;
}

#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #293240;
    color: #eee;
    overflow: hidden;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #293240;
    color: var(--header-link-color);
}
#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
    color:#fff;
    font-weight: bold;
}

.selector-chosen h2 {
    background: #e85555;
    color: var(--header-link-color);
}
